

.registerDesign{

    background-color: #FFF7E2;
    /* width: 100vw; */
    height: 90vh;
    
}

.inputsBox{
    background-color: white;
    height: 30em;
    width: 24em;    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0) 8px 8px;
    border-radius: 15px;
    border: 2px solid;
}


#inputsBox::before{

    content: url("../../assets/buttons.png");
    display: flex;
    justify-content: flex-end;
    padding: 0.2em 0.5em 0 0;
    height: 4vh;
    width: 100%;
}

.inputRegDesign{
    border-radius: 50px;
    height: 2em;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    padding: 0 0 0 1em;
}

#inputRegDesign:focus{
    border: none;
    box-shadow: none;
}

.buttonDesign{
    background-color: white;
    height: 5vh;
    width: 20vh;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0) 2px 3px;
}

.buttonDesign:hover{
    box-shadow: none;
}

#registerText{
    margin: 0.2em;
}

.mouthImage{

    position:absolute;
    margin-left: 20em;
    margin-top: 10em;
    width: 200px;

    transform: rotate(-10deg);
    rotate: 10deg;
}

.buttonsImage{
    width: 70px;
    /* align-self: left; */
    position: absolute;
     
}

#line{
    border:1px;
    
    background-color: black;
    height: 2px;
    width: 105%;
    margin-top: 0;

}

.rayImage{

    position:absolute;
    margin-top: -5em;
    margin-left: -20em;
    width: 150px;
    
    transform: rotate(-10deg);
    rotate: 10deg;
}

.mouseImage{

    position:absolute;
    margin-top: -10em;
    margin-left: 15em;
    width: 50px;
    
    transform: rotate(-10deg);
    rotate: 10deg;
}

.smileImage{

    position:absolute;
    margin-top: 50em;
    margin-left: -15em;
    
    /* width: 50px; */
    
    transform: rotate(-10deg);
    rotate: 10deg;
}


@media(max-width: 768px){
.bocaImage, .rayoImage, .mouseImage, .smileImage{
    display: none;
}
}

.zoom:hover{
    transform: scale(1.2);
    transition: .5s;
}
